@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');  
:root {   
    --fuente: 'Roboto', sans-serif;   
    --color-principal: #1DBEB4;   
    --color-2: #383B58;   
    --color-3: #545776;   
    --color-4: #F3F1ED; 
    --color-5: #FFFFFF;
}  
* {
   font-family: var(--fuente);
   box-sizing: border-box;   
   padding: 0;   
   margin: 0; 
}  
li {   
    list-style: none; 
}  
a {
   text-decoration: none; 
}

.header-1{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.contenedor-header {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--color-5);
    padding: 12px 32px;
}

.header-2{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12px;
}

.header-2 p{
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}

.header-3{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12px;
}

.header-3 input[type="submit"]{
    background-color: var(--color-5);
    border:1px solid var(--color-principal);
    border-radius: 5px;
    color: var(--color-principal);
    font-size: 16px;
    font-weight: 700;
    outline: none;
    padding: 10px 72.5px;
}

.header-3-version-2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    position: relative;
}

.avatar{
    background-color: var(--color-2);
    color: var(--color-5);
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    padding: 7px;
}

.saludo{
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 700;
}

.nombre{
    color: var(--color-principal);
    font-size: 16px;
    font-weight: 700;
}

.cerrar{
    columns: var(--color-2);
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    right: 0;
    top:-20px
}

#menu-hamburguesa{
    display: none;
} 

main{
    background-color: var(--color-4);
    padding-top: 90px;
    padding-bottom: 68px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer-1{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.contenedor-footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-principal);
    padding: 15px 50px;
}

.footer-2{
    color: var(--color-5);
    font-weight: 700;
    font-size: 14px;
}

.footer-3 {
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-5);
    font-weight: 700;
    font-size: 28px;
    gap: 30px;
}

@media screen and (max-width:768px) {

    .contenedor-header {
        padding: 25px 30px;
    }

    .header-2 p{
        display: none;
    }

    .header-3 input[type="submit"]{
        padding: 10px 20px;
    }

    main{
        padding-top: 116px;
    }

}

@media screen and (max-width:414px) {

    .header-1{
        box-shadow: 2px 2px 6px var(--color-3);
    }

    .contenedor-header{
        align-items: center;
    }

    .header-3{
        display: none;
    }

    .header-3-version-2{
        display: none;
    }

    #menu-hamburguesa{
        display: block;
        color: var(--color-3);
        font-size: 24px;

    }

    .contenedor-footer {
        padding: 20px;
    }

    .footer-3{
        display: none;
    }


}